<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="description" content="NullRef is a free service that removes the refering URL to a given website. This allows users and web admins to protect their privacy." />
    <meta name="keywords" content="free derefer, dereferer service, protect url, protect link, url, hide referrer, redirect script" />

	<title>NullRef.us</title>

	<link rel="stylesheet" type="text/css" href="css/styles.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <script src="nullref.js"></script>
</head>

<body>
	<div id="wrapper">
        <div id="header">
            <h1><a href="https://nullref.us">NULLREF . US</a></h1>
        </div>
        
		<div id="content">
			{{{ body }}}
		</div>

		<div id="footer">
			<span>Copyright 2021 NullRef.us</span>
		</div>
    </div>
</body>
</html>
