<div class="card">
	<h1>NULLREF . US</h1>
    <p>
        NullRef is a service that removes the refering URL to a given website. This allows users and web admins to protect their privacy. This is a free service with no
        malicious tracking, trojans, or ads.
        <br/><br/>
        <form>
            <span>Enter URL: </span><input type="text" name="url" id="urlToGenerate" onkeyup="generate()" />
        </form><br/><br/>
        <a href="https://nullref.us/?" class="hidden" id="generatedUrl">link</a><br/><br/>
    </p>
</div>