<div class="card">
    <p>
        NullRef is a free service that removes the refering URL to a given website. This allows users and web admins to protect their privacy. The site contains no malicious tracking or trojans. It doesn't log
        any information about the visitor and HTTP referer is stripped via CloudFlare before reaching this website. 
        <br/><br/>
        <form>
            <span>Enter URL: </span><input type="text" name="url" id="urlToGenerate" onkeyup="generate()" />
        </form><br/><br/>
        <a href="https://nullref.us/?" class="hidden" id="generatedUrl">link</a><br/><br/>
    </p>
</div>